#heading{
    height: 93px;
    display: flex;
    align-items: center;
    height: 93px;
    display: flex;
    align-items: center;
}
nav{
    width: 100%;
    max-width: 1600px;
}
nav ul {
   list-style: none;
    display: flex;
    align-items: center;
    gap: 32px;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
    background-color: #FFFFFF;
}
nav ul li:last-child{
    margin-left: auto;
}
#heading ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    color:#000000;
    margin:auto;
    margin-bottom: 24px;
}
#heading .btn{
      padding: 12px 16px;
    width: 164px;
    height:44px;
    border:none;
    border-radius: 4px;
    color: white;
    background-color: green;
    cursor: pointer;
    position: static; 
    margin: 0; 
}
nav ul li:first-child{
    margin-right: auto;
}
#heading .btn:hover{
    background-color: darkgreen;
}
#heading ul li img{
    width: 140px;
    height: auto;
    margin-right: 0px;
    margin-left: 0px;
    position: static
    
}
#hero{ 
    width: 100%;
    max-width: 1600px;
    background-image:url(../B13-A01-Knowledge-Vault/assets/hero-bg.png) ;
    height:auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 80px 16px;

}
.hero-container{
  width: 100%;
  max-width: 1600px;
    margin: auto;

}
.hero-text{
    text-align:center;
    line-height:normal;
    
}
.bt{
    margin-top: 115px;
    padding: 8px 12px;
    border-radius: 20px;
    background-color: #FFFFFF;
    color:#469165;
     cursor: pointer;
}
.bt:hover{
    background-color:aliceblue;
}
.dot{
    border-radius: 50%;
   height: 10px;
   width: 10px;
    background-color:#469165;
    display: inline-block;

}
.hero-h1{

    font-size: 65px;
    color: #FFFFFF;
    line-height: 10px;
}
.hero-h11{
    font-size: 65px;
    color:#469165;

}
#hero p{
    font-size: 18px;
    color: #FFFFFF;
    line-height: 15px;
}
 .vault{
      padding:10px 16px;
    border-radius: 4px;
    color:white;
    background-color:green;
    cursor: pointer;
    border: none;
    display:inline-block;
    margin-right: 16px;
}
.vault:hover{
    color:bisque;
}
.see{
    padding: 12px 16px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid white;
    background:none;
    color:#FFFFFF;
    
}
.see:hover{
    color:aliceblue ;
}
.traingle{
    height: 0px;
    width: 0px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 12px solid white;
    vertical-align: middle;
    margin-right: 8px;
     display:inline-block;
} 
.cont{
    width: 100%;
}
  #notes-container img {
    width: 25px !important;
    height: 25px !important;
    display: inline-block;
    margin: 15px;
    padding:8px;
    border:2px solid #ff4d4d;
    background-color:#ff4d4d;
    object-fit: contain;
    border-radius: 50%;

}

.notes{
    max-width: 550px;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    padding: 0 16px;

}
.notes h1{
    font-size: 40px;
    font-weight: 700px;
    color:#000000;
    line-height: 20px;
}
.notes p{
    font-size: 15px;
    color: #627382;
 
}
 .cont{

 }
.card{
    width: 85%;
    max-width: 1360px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.card-scatt{
   max-width: 322px;
    height: 300px;
    justify-content: center;
    align-items: center;
     box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    margin-top: 44px;
    margin: auto;
    background-color:floralwhite;
    border-radius: 10px;
    text-align: center;
    padding: 24px;
    

    


}
.card-scatt p{
    color: #627382;
    font-size: 16px;
}
.bookmark{
    max-width: 322px;
    height: 300px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    margin-top: 44px;
    margin:auto;
    background-color:floralwhite;
    border-radius: 10px;
    text-align: center;
    padding: 24px;
    


}
.bookmark p{
    color: #627382;
    font-size: 16px;
}
.card-idea{
     max-width: 322px;
    height: 300px;
    justify-content: center;
    align-items: center;
     box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    margin-top: 44px;
    margin:auto;
    background-color:floralwhite;
    border-radius: 10px;
    text-align: center;
    padding: 24px;


}
.card-idea p{
    color: #627382;
    font-size: 16px;
}
.forget{
    max-width: 322px;
    height: 300px;
    justify-content: center;
    align-items: center;
     box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    margin-top: 44px;
    margin:auto;
    background-color:floralwhite;
    border-radius: 10px;
    text-align: center;
    padding: 24px;


}
.forget p{
    color: #627382;
    font-size: 16px;
}

.solution-container{
    width: 85%;
    max-width: 1360px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    gap: 60px;
}
 .image{
    width:37.5%;
    max-width: 600px;
    margin:auto;
}
.text{
    width: 43.75%;
    max-width:700px;
    height:396px;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin: 222px 120px 222px 60px;
}
.text img{
    max-width: 20px;

}


.text p{
    font-size: 13px;
    color: #469165;
}
.text h1{
    font-size: 45px;
    line-height: 20px;
}
.text .pera{
    font-size: 14px;
    color: #627382;
}
.text h6{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 15px;
    margin: 8px 0;
}


.think-container{
    width: 85%;
    max-width: 1360px;
    justify-content: center;
    text-align: center;
    background-color:#F7F6F2;
    margin:auto;
    border-radius: 12px;
   
   
   

}
.think-container .container{
    padding-top: 60px;
    font-size: 37px;
}
.think-container p{
    font-size: 15px;
    color: #627382;
    line-height: 24px;
}
.button-lower{
     padding-bottom: 80px;
    padding-top: 16px;

}
.think-container .vault{
    margin: 20px auto;
}
.foter-container{
    width: 100%;
    max-width: 1600px;
      background-color:#001931;
    margin: auto;

    padding: 120px 120px 30px 120px;
}

.foter-top{
    display: flex;
    justify-content:space-between;
    align-items:center;
    margin:0px 120px 80px 120px;
}
.link{
    color: #FAFAFA;
}
.x{ display: inline-flex;
    justify-content: center;
    font-size:14px ;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    background-color: #FFFFFF;
    color: #000;
  padding:2px 5px;
  margin-right:10px;
}
.in{
      border-radius: 50%;
    width: 16px;
    height: 16px;
    background-color: #FFFFFF;
    color: #000;
  padding:2px 5px;
  margin-right:10px;
}
.f{
      border-radius: 50%;
    width: 16px;
    height: 16px;
    background-color: #FFFFFF;
    color: #000;
  padding:2px 8px;
  margin-right:10px;
}
footer p{
  color: #FAFAFA;
  font-size: 16px;
  text-align: center;
  


}
hr{
    width: 85%;
    max-width: 1360px;
    color:#627382;
    margin: auto;
    margin-bottom: 30px;
    align-items: center;
   
}






